@using MetaMask.Blazor
@inject MetaMaskService metaMaskService;
<div class="nav-alert desktop" style="@(AlertHidden ? "display:none": "")">
    <div class="nav-alert-inner gap">

        <div class="row gap-c">
            <img height="24px" src="media/infos_icon.svg" alt="error" style="margin-right: 6px;">
            It looks like you are not connected to <b> Fantom Mainnet </b>,
            to switch network <div class="main-button" style="height: 28px; margin-left:6px" @onclick="SwitchToAsync"> Click here</div>
        </div>

        <div class="row-- cursor" @onclick="HideAlert">
            <svg width="22" height="22" viewBox="0 0 48 48" fill="none">
                <path d="M10.7827 10.7827C11.2841 10.2816 11.9639 10 12.6728 10C13.3817 10 14.0616 10.2816 14.5629 10.7827L24.0161 20.2359L33.4693 10.7827C33.9735 10.2958 34.6489 10.0263 35.3498 10.0324C36.0508 10.0385 36.7213 10.3196 37.217 10.8153C37.7126 11.311 37.9938 11.9815 37.9999 12.6825C38.006 13.3834 37.7365 14.0587 37.2495 14.5629L27.7963 24.0161L37.2495 33.4693C37.7365 33.9735 38.006 34.6489 37.9999 35.3498C37.9938 36.0508 37.7126 36.7213 37.217 37.217C36.7213 37.7126 36.0508 37.9938 35.3498 37.9999C34.6489 38.006 33.9735 37.7365 33.4693 37.2495L24.0161 27.7963L14.5629 37.2495C14.0587 37.7365 13.3834 38.006 12.6825 37.9999C11.9815 37.9938 11.311 37.7126 10.8153 37.217C10.3196 36.7213 10.0385 36.0508 10.0324 35.3498C10.0263 34.6489 10.2958 33.9735 10.7827 33.4693L20.2359 24.0161L10.7827 14.5629C10.2816 14.0616 10 13.3817 10 12.6728C10 11.9639 10.2816 11.2841 10.7827 10.7827V10.7827Z"
                    fill="#601524" />
            </svg>
        </div>

    </div>
</div>

@code{
   private bool AlertHidden { get; set; } = false ;

   private void HideAlert()
   {
        AlertHidden = true;
   }

    private async Task SwitchToAsync()
    {
        await metaMaskService.GenericRpc("wallet_switchEthereumChain", new { chainId = "0xFA" });
    }
}