<style>

    .clear {
  background: rgba(255, 255, 255, 0.082);
  padding: 6px 10px 6px 10px;
  border: 1px solid rgba(245, 245, 245, 0.158);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-right: 12px;
}

.clear:hover {
  color: whitesmoke;
  background-color: rgba(245, 245, 245, 0.2);
}
</style>

                <button class="clear mobile row-- ">
                    <img height="18px" src="media/filter_icon2.svg" alt="">
                </button> 