
<style>
    .modal-draw{
        position: fixed;
        z-index: 9000000000;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
    }
    .modal-draw-bottom{
        position: fixed;
        z-index: 9000000000;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        transform: scaleY(-1);
    }
</style>
<img class="modal-draw" src="media/section.svg" alt="">

<img class="modal-draw-bottom" src="media/section.svg" alt="">
<div>Hi</div>