@page "/"
@using BlazorWebAssymblyWeb3.Client.Components
@using BlazorWebAssymblyWeb3.Shared.Forms
@using Microsoft.AspNetCore.Components
@using MetaMask.Blazor
@namespace BlazorWebAssymblyWeb3.Server.Pages
@inject HttpClient _http;
@*@inject MetaMaskService _metaMaskService;*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta property="og:type" content="website" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="og:url" content="https://todai.world">
    <meta name="description"
        content="Todai World is an NFT platform, where collectors have social/gamified experiences and trade their assets, with various useful tools, while being rewarded for their participation. Powered on Fantom.">
    <meta property="og:image" content="https://todai.world/media/Todai_logo.png">
    <meta property="og:image:height" content="350" />
    <meta property="og:image:width" content="350" />
    <meta property="og:site_name" content="Todai - NFT platform" />
    <meta property="og:description" content="Take control over the world of digital assets with Todai" />
    <meta name="twitter:site" content="Todai" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Take control over the world of digital assets with Todai" />
    <meta name="twitter:title" content="Todai(beta) - NFT platform" />
    <meta name="keywords" content="Todai, Todai World, Nft, Marketplace, Fantom, On-Chain, Innovative" />
    <link rel="icon" href="/favicon.svg?v=2" type="image/svg+xml" sizes="any" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y5ZYTGR08X"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-Y5ZYTGR08X');
    </script>
    <title>Todai</title>
    <base href="/" />
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" asp-append-version="true" />
    <link href="YokaiTools.Client.styles.css" rel="stylesheet" />
    <link href="css/Home.css" rel="stylesheet" />
</head>

<div class="navbar row">
    <div class="container-nav row">
        <div class="nav-left row">
            <a class="nav-link" href="/">
                <div class="navbar-logo row gap">
                    <img height="32px" src="media/yokai_logo.svg" alt="Todai World">
                    <div> Todai<span class="i-logo " style="padding-left: 2px; font-size:1rem;"> beta</span> </div>
                </div>
            </a>
            <div style="position: relative;">
                @* <div class="search">
                    <img class="search-icon" src="/media/search_icon.svg" alt="search" />
                    <input class="search-bar" type="text" placeholder="Search project by name" disabled />
                </div> *@
            </div>



            <div class="nav-menu row">
                <div class="nav-item">
                    <a class="nav-link" href="explorer" Match="aMatch.All">
                        <span aria-hidden="true">Explorer</span>
                    </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="collections">
                        <span aria-hidden="true">Collections</span>
                    </a>
                </div>

                <div class="nav-item">
                    <a class="nav-link" href="about">
                        <span aria-hidden="true">About</span>
                    </a>
                </div>
               
            </div>
        </div>
        @* <button class="burger-menu" @onclick="ToggleNavbar">
            <img height="35px" src="media/@(NavbarHidden ? "burgermenu.svg" : "close.svg")" alt="">
            </button> *@
        <div class="nav-right row">
            <div class="nav-item">
                <a href="https://yokaichain.com/Mint" target="_blank"> <button class="button-edit"
                        style="font-size: 14px; height:25px; border:1px solid #FFFFFF10"> Mint Yokai </button></a>
            </div>
            <div class="row" style="height: 100%;">
                <div class="hover-notif-about row--">
                    <button class="btn-x row" style="height: 100%; margin-bottom:-4px; opacity:0.8; "> <img width="30px"
                            src="media/more.svg" alt="more"></button>
                    <div class="nav-more column">
                        <a class="nav-more-link" href="About">
                            About
                        </a>
                        <a class="nav-more-link" href="https://torimoontori.gitbook.io/todai/" target="_blank"
                            style="font-size: 1rem;">

                            Documentation
                        </a>

                        @* <a class="nav-more-link" href="Collections">
                            Discord Bot
                            </a> *@
                        <div class="nav-more-link" style="border-top: 1px solid #ffffff10;">
                            <div class="media row gap--">

                                <a href="https://discord.com/invite/2r4C2VXDHz" target="_blank">
                                    <img src="/media/discord.svg" alt="" />
                                </a>
                                <a href="https://twitter.com/todaiworld" target="_blank">
                                    <img src="/media/twitter.svg" alt="" />
                                </a>
                                <a href="https://medium.com/@@todaiworld" target="_blank">
                                    <img src="/media/medium.svg" alt="" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a href="home">
                <button class="main-button row-- gap">
                    Enter App
                   
                </button>
            </a>



        </div>
    </div>
</div>





@* <img class="todai-loading" src="media/todai_loading.svg" alt="loading"> *@
<img src="media/cloud_1.png" alt="" style="position: fixed; height:200px; right:7%; top:500px; opacity:0.6;">
<img src="media/clouds_1.png" alt="" style="position: fixed; height:400px; left:5%; top:70px; opacity:0.6;">


<div class="home column" style="padding-top:50px ;">
    <div class="landing-page column-center">
        @* <img class="yokai-eyes desktop-only" src="/media/yokai_eyes.svg" alt="" /> *@

        <div class="home-heros row-sb r-c" style="width: 100%;">

            <div class="home-hero column gap">
                <h1 class="text-sdw" style="text-align: left; font-size:57px;">
                    Explore the new world<br> of
                    Digital Assets. <br> Participate. Get Rewards.
                </h1>
                <p style="opacity: 0.8; font-size:18px;">
                    Todai is an NFT platform, where collectors have social/gamified experiences and trade their assets,
                    with various useful tools, while being rewarded for their participation.
                    Powered on Fantom.
                    @* Built for
                        Artists and Collectors. *@
                </p>
                <div class="row gap">
                    <a class="nav-link" href="explorer">
                        <button class="main-button" style="height:40px;width: 150px; font-size:20px;"> Explore</button>
                    </a>
                    <a class="nav-link" href="https://torimoontori.gitbook.io/todai/" target="_blank">
                        <button class="button-edit"
                            style="height:40px;width: 150px; font-size:18px; font-family:Titillium Web; border-radius:3px;">Learn
                            More</button>
                    </a>
                </div>
            </div>

            <div class="nft-item" style="">
                <a href="https://todai.world/asset/0x59c7b16369422959eeb218c7270e3b5132cb1f28/181">
                    <div class="nft-img" style="height: 450px;" >
                        <img src="media/unreal_yokai.svg" alt="Todai World nft">
                    </div>
                    <div class="nft-item-footer">
                        <div class="rank bold"></div> Unreal Yokai 181
                    </div>
                </a>
            </div>

        </div>
        @* <div style="border-bottom: 1px solid white; width:80%; opacity:0.2; margin-top:40px;"></div> *@
        <h2 style="margin-top: 80px;"> Todai Features</h2>
        <div class="landing-list column-center">

            <div class="wrap">
                <div class="card ">
                    <img height="80px" src="media/search_icon_2.svg" alt="">
                    <div class="column-center">
                        <div style="font-size: 25px; font-weight:600;"> Search Engine</div>
                        <p>
                            Explore NFT projects that match your standards, and find the next
                            gems.
                        </p>
                    </div>

                    <a href="https://todai.world/Search" target="_blank">
                        <button class="button-edit" style="height:28px;">Explore</button>
                    </a>
                </div>
                <div class="card ">
                    <img height="80px" src="media/gamified.svg" alt="">
                    <div class="column-center">
                        <div style="font-size: 25px; font-weight:600;"> Gamified Experience</div>
                        <p> Engage with the NFT community, comment, swap, play, xp, earn. </p>
                    </div>
                       <button class="button-edit" style="height:28px; opacity:0.7;"> Coming Soon</button>
                </div>
                <div class="card ">
                    <img height="80px" src="media/assetswap.svg" alt="">
                    <div class="column-center">
                        <div style="font-size:25px; font-weight:600;">Trade & Swap</div>
                        <p>Trade your assets with the community, create and manage your offers. </p>
                    </div>

                    <a href="https://todai.world/asset/0x59c7b16369422959eeb218c7270e3b5132cb1f28/181" target="_blank">
                        <button class="button-edit" style="height:28px;">Make Offers</button>
                    </a>
                </div>
                <div class="card ">
                    <img height="80px" src="media/rare_icon.svg" alt="">
                    <div class="column-center">
                        <div style="font-size: 25px; font-weight:600;"> Rarity & Tools</div>
                        <p> Use rarity algorithms, and a large choice of useful tools.</p>
                    </div>

                    <a href="https://todai.world/Collection/0x59c7b16369422959eeb218c7270e3b5132cb1f28" target="_blank">
                        <button class="button-edit" style="height:28px;">See Rarity</button>
                    </a>
                </div>

            </div>
        </div>
        @* <div style="border-bottom: 1px solid white; width:80%; opacity:0.2; margin-top:40px;"></div> *@
        <h2 style="margin-top: 80px;"> Top Sealed Collections</h2>
        @*<div class="wrap" style="gap: 50px; justify-content:center;">
            @if (collectionTrendings != null)
            {
            @foreach (var collectionTrending in collectionTrendings)
            {
            <ExplorerItem Item="(ExplorerItemValue)collectionTrending"/>
            }
            }
            </div>*@

        <h2 style="margin-top: 80px;">Roadmap</h2>
        <div class="row gap- r-c" style="margin-bottom: 150px;">
            @* <img src="media/clouds_1.png" alt="" style="position: absolute; height:400px; right:-20%; bottom:-70px;
                opacity:0.5;">
                <img src="media/clouds_2.png" alt="" style="position: absolute; height:400px; left:-20%; bottom:-70px;
                opacity:0.5;"> *@
            <div class="road-q column gap--">
                <div class="quarter row--">
                    <div class="column--">
                        <p> 2022</p>
                        <h2 style="line-height: 26px;">Q1</h2>
                    </div>
                </div>
                <div class="column gap" style="opacity: 0.7;">
                    <div class="row-- gap--">
                        <h2>Todai Platform</h2>
                    </div>
                    <div class="row-- gap--">
                        <p style="color: linear-gradient(148.39deg, #6500B4 15.22%, #B02FFF 87.58%);"> <img
                                height="18px" src="media/check_2.svg" alt=""> Initializing Todai website</p>
                    </div>
                    <div class="row-- gap--">
                        <p>Host Yokai NFT Collection <img height="18px" src="media/check_2.svg" alt=""></p>
                    </div>
                    <div class="row-- gap--">
                        <p> <img height="18px" src="media/check_2.svg" alt=""> Rarity Rankings </p>
                    </div>
                    <div class="row-- gap--">
                        <p> <img height="18px" src="media/check_2.svg" alt=""> Add Fantom Collections </p>
                    </div>


                </div>
            </div>

            <div class="team-card road-q column gap--">
                <div class="quarter row--">
                    <div class="column--">
                        <p> 2022</p>
                        <h2 style="line-height: 26px;">Q2</h2>
                    </div>
                </div>
                <div class="column gap">
                    <div class="row-- gap--">
                        <h2>Social & Tools</h2>
                    </div>
                    <div class="row-- gap--">
                        <p> NFT Swap 1-1 <img height="18px" src="media/check_2.svg" alt=""></p>
                    </div>
                    <div class="row-- gap--">
                        <p> Collectors Profile <img height="18px" src="media/check_2.svg" alt=""></p>
                    </div>
                    <div class="row-- gap--">
                        <span> MarketPlace <img height="18px" src="media/yokai_like.svg" alt=""> </span>
                    </div>
                    <div class="row-- gap--">
                        <span> More Project info/stats</span>
                    </div>
                    <div class="row-- gap--">
                        <span> Comment sections</span>
                    </div>
                    <div class="row-- gap--">
                        <span>Advanced Search Engine</span>
                    </div>

                </div>
            </div>
            <div class="road-q column gap--">
                <div class="quarter row--">
                    <div class="column--">
                        <p> 2022</p>
                        <h2 style="line-height: 26px;">Q3</h2>
                    </div>
                </div>
                <div class="column gap">
                    <div class="row-- gap--">
                        <h2> Incentives</h2>
                    </div>
                    <div class="row-- gap--">
                        <span> Profile XP/Leveling </span>
                    </div>
                    <div class="row-- gap--">
                        <span>Item Chest drop to active users</span>
                    </div>
                    <div class="row-- gap--">
                        <span> NFT stacking innovation</span>
                    </div>
                    <div class="row-- gap--">
                        <span> Medals distribution </span>
                    </div>
                    <div class="row-- gap--">
                        <span> </span>
                    </div>
                </div>
            </div>
            <div class="road-q column gap--">
                <div class="quarter row--">
                    <div class="column--">
                        <p> 2022</p>
                        <h2 style="line-height: 26px;">Q4</h2>
                    </div>
                </div>
                <div class="column gap">
                    <div class="row-- gap--">
                        <h2>App & Games</h2>
                    </div>
                    <div class="row-- gap--">
                        <span>  Discord Bot</span>
                    </div>
                    <div class="row-- gap--">
                        <span> Todai Mobile App</span>
                    </div>
                    <div class="row-- gap--">
                        <span>Metaverse Art Galleries</span>
                    </div>
                    <div class="row-- gap--">
                        <span> Yokai Card Game</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</html>
@*@code{

    private List<BlazorWebAssymblyWeb3.Shared.Collection> collectionTrendings;
    private string? connectedAddress;
    protected override async Task OnInitializedAsync()
    {

    var hasMetaMask = await _metaMaskService.HasMetaMask();
    var isSiteConnected = await _metaMaskService.IsSiteConnected();
    if (isSiteConnected)
    connectedAddress = await _metaMaskService.GetSelectedAddress();

    collectionTrendings = await _http.GetFromJsonAsync<List<BlazorWebAssymblyWeb3.Shared.Collection>>("Yokai/Trendings");
    }

    }*@