
@using MetaMask.Blazor
@using BlazorWebAssymblyWeb3.Client.Components
@page "/about"

<PageTitle> About | Todai</PageTitle>
                  <img src="media/clouds_1.webp" alt="" style="position: fixed; height:400px; right:5%; bottom:120px; opacity:0.5;">
              <img src="media/clouds_2.webp" alt="" style="position: fixed; height:400px; left:5%; bottom:120px; opacity:0.5;"> 
       @* <img width="100%" src="media/light_bg_3.png" alt="" style="position: absolute; opacity:0.6; max-height:100%"> *@
<div class="page-i">
   <div class="column-center">

       <h1 style="margin-top: 50px;">Meet Todai World - A folkloric NFT platform.</h1>
     <div class="column gap-">

       <div class="classic-card row gap-" style="width: 800px; font-size:1.15rem">
           <img height="60px" src="media/ux.svg" alt=""> 
           <div> 
               <b>Unique experience </b>- Building a flawless interface is our priority, where you can find everything you need 
               about the NFT space.<br>
                
            </div>
       </div>
        <div class="classic-card row gap-" style="width: 800px; font-size:1.15rem">
           <img height="60px" src="media/rare_icon.svg" alt=""> 
           <div><b> Reward Collectors </b>- Explore the platform, trade NFTs, and simply receive chests
             containing NFTs, Medals, $Tokens, Cosmetics. No investment, just rewards.
                 <br>
               
            </div>
       </div>

        <div class="classic-card row gap-" style="width: 800px; font-size:1.15rem">
           <img width="60px" src="media/verified_about.png" alt=""> 
           <div> 
               <b> Secured Platform</b> - A safe place to trade digital assets, art, metaverse collectibles  and more... 
                where all listed projects are carefully selected, with quality requirements. 
            </div>
       </div>
        <div class="classic-card row gap-" style="width: 800px; font-size:1.15rem">
           <img height="60px" src="media/social.svg" alt=""> 
           <div> 
               <b> Social Features </b> - The platform is user centered, build your profile, and show off the best of your collector spirit.
                 <br>               
            </div>
       </div>
    </div>

         <h1>Roadmap</h1>
           <div class="row gap- r-c">
   
             <div class="road-q column gap--" >
                <div class="quarter row--" >
                    <div class="column--">
                        
                         <h2 style="line-height: 26px;">Q1</h2>
                    </div>
                </div>
                <div class="column gap">
                    <div class="row-- gap--">
                        <h2>Todai Platform</h2>
                    </div>
                    <div class="row-- gap--">                     
                        <p style="color: linear-gradient(148.39deg, #6500B4 15.22%, #B02FFF 87.58%);"> <img height="18px" src="media/check_2.svg" alt=""> Initializing Todai website</p>
                    </div>
                    <div class="row-- gap--">  
                        <p>Host Yokai NFT Collection <img height="18px" src="media/check_2.svg" alt=""></p>
                    </div>
                    <div class="row-- gap--">                     
                        <p> <img height="18px" src="media/check_2.svg" alt=""> Rarity Rankings  </p>
                    </div>
                    <div class="row-- gap--">                     
                        <p> <img height="18px" src="media/check_2.svg" alt=""> Add Fantom Collections </p>
                    </div>
               

                </div>
             </div>

             <div class="team-card road-q column gap--" >
                <div class="quarter row--" >
                    <div class="column--">
                        
                         <h2 style="line-height: 26px;">Q2</h2>
                    </div>
                </div>
                <div class="column gap">
                    <div class="row-- gap--">
                        <h2>Social & Tools</h2>
                    </div>
                    <div class="row-- gap--">  
                        <p> NFT Swap 1-1 <img height="18px" src="media/check_2.svg" alt=""></p>
                    </div>
                     <div class="row-- gap--">  
                        <p> Collectors Profile <img height="18px" src="media/check_2.svg" alt=""></p>
                    </div>
                    <div class="row-- gap--">                     
                        <span> MarketPlace <img height="18px" src="media/yokai_like.svg" alt=""> </span>
                    </div>
                     <div class="row-- gap--">                     
                        <span > More Project info/stats</span>
                    </div>
                     <div class="row-- gap--">                     
                        <span > Comment sections</span>
                    </div>
                     <div class="row-- gap--">                     
                        <span >Advanced Search Engine</span>
                    </div>

                </div>
             </div>
                <div class="road-q column gap--" >
                <div class="quarter row--" >
                    <div class="column--">
                        
                         <h2 style="line-height: 26px;">Q3</h2>
                    </div>
                </div>
                <div class="column gap">
                    <div class="row-- gap--">
                        <h2> Incentives</h2>
                    </div>
                    <div class="row-- gap--">                     
                        <span > Profile XP/Leveling  </span>
                    </div>
                    <div class="row-- gap--">  
                        <span>Item Chest drop to active users</span>
                    </div>
                    <div class="row-- gap--">  
                        <span> NFT stacking innovation</span>
                    </div>
                     <div class="row-- gap--">  
                        <span> Medals distribution </span>
                    </div>
                     <div class="row-- gap--">  
                        <span>  </span>
                    </div>
                </div>
             </div>
            <div class="road-q column gap--" >
                <div class="quarter row--" >
                    <div class="column--">
                        
                         <h2 style="line-height: 26px;">Q4</h2>
                    </div>
                </div>
                <div class="column gap">
                    <div class="row-- gap--">
                        <h2>App & Games</h2>
                    </div>
                     <div class="row-- gap--">                     
                        <span>  Discord Bot</span>
                    </div>
                    <div class="row-- gap--">  
                        <span> Todai Mobile App</span>
                    </div>
                    <div class="row-- gap--">  
                        <span>Metaverse Art Galleries</span>
                    </div>
                     <div class="row-- gap--">  
                        <span> Yokai Card Game</span>
                    </div>
                </div>
             </div>
           </div>

     <h1> Team</h1>
       
       <div class="row gap- r-c">
           <div class="team-card">
               <img height="200px" src="media/Tori.png" alt="" style="border: 1px solid rgba(255, 255, 255, 0.11); border-radius:10px">
                <h2>Tori</h2>
                <p>Head of Project & Design</p>
                 <div class="row gap--" style="margin-top: 18px;">
                    
                  <a href="https://twitter.com/ToriiCreative">
                      <img height="20px" src="media/twitter.svg" alt="" target="_blank">
                  </a>
                  <a href="https://github.com/tori-flower" target="_blank">
                      <img height="20px" src="media/github.svg" alt="">
                  </a>
                  </div>
           </div>
           <div class="team-card">
          <img height="200px" src="media/Metal.png" alt="" style="border: 1px solid rgba(255, 255, 255, 0.11); border-radius:10px">
                <h2>Metal</h2>
                <p>Software Engineer</p>
                   <div class="row gap--" style="margin-top: 18px;">
                  <a href="https://twitter.com/MetalMallard" target="_blank">
                      <img height="20px" src="media/twitter.svg" alt="">
                  </a>
                    <a href="https://github.com/AlexandreBazeaud" target="_blank">
                      <img height="20px" src="media/github.svg" alt="">
                  </a>
                </div>
           </div>
           <div class="team-card">
             <img height="200px" src="media/Onii.png" alt="" style="border: 1px solid rgba(255, 255, 255, 0.11); border-radius:10px; ">
                <h2>Axxe</h2>
                <p>Blockchain Engineer</p>
                <div class=" row gap--"style="margin-top: 18px;" >
                  <a href="https://twitter.com/0xaxxe" target="_blank">
                      <img height="20px" src="media/twitter.svg" alt="">
                  </a>
                    <a href="https://github.com/maximebrugel" target="_blank">
                      <img height="20px" src="media/github.svg" alt="">
                  </a>
                </div>
           </div>
       </div>
            @* <h1>F.A.Q</h1>
     <div class="about-faq column gap--">
       <CollapsableBox Name="Why should I increase my profile level ? and how ?" src="media/.svg">
       <div style=" opacity:0.5;">

       </div> 
      </CollapsableBox>
            <CollapsableBox Name="" src="media/.svg">
       <div style="  opacity:0.5;">

       </div> 
      </CollapsableBox>
            <CollapsableBox Name="" src="media/.svg">
       <div style=" opacity:0.5;">

       </div> 
      </CollapsableBox> 
     </div> *@

   </div>

</div>
