<div class="modal">
                    <div class="chest-content team-card column">
                        <img style="margin-bottom: 10px;" height="80" src="media/ftm.svg" alt="">
                        <div> Fantom Token</div>
                        <p>  100 FTM</p>
                    </div> 
</div>